.game {
  text-align: center;
  display: grid;
}

.centre{
  display: grid;
  place-content: center;
  row-gap: 20px;
}

.row{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
 
}

.rackBtnCon{
  box-sizing: border-box;
  height: 100%;
 
}


