
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.grid-container{
  display: grid;
  grid-template-columns: fit-content(1000px) 1fr;
  margin: 0 auto;
  grid-template-areas:
  "game rightSide"
  ;
  margin-left: 10px;
  column-gap: 20px;
 ; 
}

.game{
  grid-area: game;
  text-align: center;
  min-height: 100vh;
  row-gap: 20px;
 
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.bottomRow{
  margin-top: 10px;
  
}

.rightSide{
  overflow: hidden;  /* NEW */
  min-width: 0; 
  grid-area: rightSide;
  margin-right: 50px;
  margin-left: 40px;

}

.header{
  padding: 10px 10px 10px 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title{
  margin: 0 auto;
}

.quitBtn{
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  font-size: 36px;
  background-color:  #ee443b;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Koulen', cursive;
}

.quitBtn:hover{
  background-color:  #f34f47;
  color: white;
}