#scrabble-board{
    display: grid;
    grid-template-columns: repeat(15,53.4px);
    grid-template-rows: repeat(15, 53.4px);
    background-color:#4fa66f;
    
}


@media (min-width: 2000px) {
    #scrabble-board{
        display: grid;
        grid-template-columns: repeat(15,73.4px);
        grid-template-rows: repeat(15, 73.4px);
        background-color:#4fa66f;
    }


}