.rackBtn{
    background-color: rgb(27, 82, 27);
    color: white;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 5px;
    box-sizing: border-box;
    font-weight: bold;
    
}

.rackBtn:hover{
    cursor: pointer;
    background-color: rgb(63, 126, 63);
}