
.rack{
    width: 780px;
    height: 80px;
    padding: 10px;
    background-color: #4fa66f;
    display: flex;
    flex-direction: row;
}

.rackPlace{
    width: 400px;
    background-color: #153a22;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btnCon{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 2000px) {
    .rack{
        width: 1080px;
        height: 90px;
        padding: 10px;
        background-color: #4fa66f;
        display: flex;
        flex-direction: row;
    }
    
    .rackPlace{
        width: 600px;
        background-color: #153a22;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .btnCon{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    


}
