.scoreBoard{
    border: 10px double #8415ce;
    background-color:  #ba65f3;
    color: white;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
}
#scoreText{
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}

#scoreNum{
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}