.square {
    width: 53.4px;
    height: 53.4px;
    border: 1px solid #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    
    box-sizing: border-box;
}

.TW {
    background-color: #c93d3c;
}

.DW {
    background-color: #ffc1c2;
}

.TL {
    background-color: #2a50f9;
}

.DL {
    background-color: #a8d8ef;
}

.B {
    background-color: #4fa66f;
}

.C{
    height: 53.4px;
    width: 53.4px;
    background-color: #ffc1c2;
    border: none;
    border-radius: 50%;
    
}
