@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.tileBag{
    background-color:  #1b630c65;
    color: white;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}
#bagText{
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}

#bagNum{
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}