.tile{
    line-height: 80px;
    margin: 10px 10px 10px 10px;
    width: 90px;
    height: 80px;
    background-color: rgb(236, 225, 190);
   
}

.tileLetter{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    
}

.tileNum{
    vertical-align:sub;
    font-size: 20px; 
    font-weight: 500; 

    padding: 10px;

}